h1 {
      text-align:  center;
      font-size: 30px;
      color:  seagreen;
      font-family: "Brush Script MT", cursive;
}

p  {
      font-size:  16px;
      font-family: cursive;
}

nav {
      font-size: 14px;

}

    table {
        border-style: solid;
        border-color: seagreen;
    }